<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <beans>
        <mvc:annotation-driven />

        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource" />
            <property name="mapperLocations" value="classpath*:mybatis/*.xml"/>
        w    <property name="transactionFactory">
                <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />
            </property>
            <property name="failFast" value="true" />
        </bean>

        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
             <!--<property name="url" value="jdbc:mysql://192.168.31.98:3306/mybatis_test?characterEncoding=utf-8"/>
             <property name="username" value="root"/>
             <property name="password" value="123456"/>-->
            <property name="url" value="jdbc:mysql://10.37.16.130:3321/dw_meta?characterEncoding=utf-8"/>
            <property name="username" value="dw_meta"/>
            <property name="password" value="dw_meta"/>
        </bean>

        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="basePackage" value="com.huyong.spring.mybatis.mapper" />
        </bean>

        <!--<mybatis:scan base-package="com.huyong.spring.mybatis.mapper" />-->

        <context:component-scan base-package="com.huyong.spring.mvc" />
        <context:annotation-config/>

    </beans>
</beans>